<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Cine - Insertar/Actualizar Funcion')"></head>
<body>
<header th:replace="fragments/header :: header"></header>
<main class="container mt-5">
    <h1 th:text="${funcion.id == null ? 'Add New Funcion' : 'Edit Funcion'}"></h1>

    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

    <form th:action="${funcion.id == null} ? @{/funciones/insert} : @{/funciones/update}"
          th:object="${funcion}" method="post" class="mt-4">
        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label for="code" class="form-label">Código:</label>
            <input type="text" th:field="*{code}" id="code" class="form-control" required />
        </div>

        <div class="mb-3">
            <label for="sala" class="form-label">Sala:</label>
            <select th:field="*{sala}" id="sala" class="form-select" required>
                <option value="" disabled selected>-- Selecciona una sala --</option>
                <option th:each="s : ${salas}"
                        th:value="${s.id}"
                        th:text="${s.numero}">
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label for="pelicula" class="form-label">Película:</label>
            <select th:field="*{pelicula}" id="pelicula" class="form-select" required>
                <option value="" disabled selected>-- Selecciona una Pelicula --</option>
                <option th:each="p : ${peliculas}"
                        th:value="${p.id}"
                        th:text="${p.titulo}">
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label for="horario" class="form-label">Horario:</label>
            <input type="time" th:field="*{horario}" id="horario" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-primary" th:text="${funcion.id == null ? 'Create' : 'Update'}"></button>
    </form>

    <a th:href="@{/funciones}" class="btn btn-secondary mt-3">Back to List</a>
</main>
</body>
</html>