<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark w-100">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" th:href="@{/}">
                <img th:src="@{/img/logo.png}" alt="Cine 404 Logo" class="me-2" style="height: 40px; width: auto;">
                <span>Cine 404</span>
            </a>

            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">

                <ul class="navbar-nav mb-2 mb-lg-0 flex-grow-1 justify-content-evenly">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}" th:text="#{msg.header.home}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/peliculas}" th:text="#{msg.header.peliculas}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/directores}" th:text="#{msg.header.directores}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/funciones}" th:text="#{msg.header.funciones}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/salas}" th:text="#{msg.header.salas}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/clientes}" th:text="#{msg.header.clientes}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/trabajadores}" th:text="#{msg.header.trabajadores}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/boletos}" th:text="#{msg.header.boletos}"></a>
                    </li>
                </ul>

                <div class="d-flex align-items-center ms-auto">

                    <th:block th:if="${session.usuarioLogueado == null}">
                        <a th:href="@{/login/discord}" class="btn btn-outline-info btn-sm">
                            Discord Login
                        </a>
                    </th:block>

                    <th:block th:if="${session.usuarioLogueado != null}">
                        <span class="text-white me-3">
                            Bienvenido, <strong th:text="${session.usuarioLogueado.username}">Usuario</strong>
                        </span>
                        <a th:href="@{/logout}" class="btn btn-outline-danger btn-sm">
                            Salir
                        </a>
                    </th:block>

                    <form th:action="@{/}" method="get" class="ms-3">
                        <select name="lang" onchange="this.form.submit()" class="form-select form-select-sm bg-secondary text-white border-0">
                            <option value="es" th:selected="${#locale.language == 'es'}">ES</option>
                            <option value="en" th:selected="${#locale.language == 'en'}">EN</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>