<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark w-100">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" th:href="@{/}">
                <img th:src="@{/img/logo.png}" alt="Cine 404 Logo" class="me-2" style="height: 40px; width: auto;">
                <span>Cine 404</span>
            </a>

            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">

                <ul class="navbar-nav mb-2 mb-lg-0 flex-grow-1 justify-content-evenly">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}" th:text="#{msg.header.home}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/peliculas}" th:text="#{msg.header.peliculas}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/directores}" th:text="#{msg.header.directores}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/funciones}" th:text="#{msg.header.funciones}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/salas}" th:text="#{msg.header.salas}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/clientes}" th:text="#{msg.header.clientes}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/trabajadores}" th:text="#{msg.header.trabajadores}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/boletos}" th:text="#{msg.header.boletos}"></a>
                    </li>
                </ul>

                <form th:action="@{/}" method="get" class="d-flex form-inline">
                    <select name="lang" onchange="this.form.submit()" class="form-select language-selector">
                        <option value="es" th:selected="${#locale.language == 'es'}">Español</option>
                        <option value="en" th:selected="${#locale.language == 'en'}">English</option>
                    </select>
                </form>

                <ul class="navbar-nav">
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <span class="navbar-text me-3">Bienvenido, </span><span
                            sec:authentication="name"></span>
                    </li>
                </ul>
                <!-- Botones de Login y Logout -->
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <!-- Mostrar enlace de login si el usuario no está autenticado -->
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                    <!-- Mostrar enlace de logout si el usuario está autenticado -->
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/logout}"
                           onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                            Logout
                        </a>
                        <form id="logout-form" th:action="@{/logout}" method="post"
                              style="display: none;"></form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>